/* Section */
.section_light {
	background-color: var(--color-bg-medium);
}

.section__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 100px 24px;
}

/* Button */
.button {
	display: inline-block;
	text-align: center;
	padding: 16px 32px;
	background: none;
	border: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: var(--color-text);
	border-radius: var(--border-10);
	cursor: pointer;
}

.button_primary {
	background: var(--color-primary);
}

.button_primary:hover {
	background: var(--color-primary-hover);
}

.button_ghost {
	border: 1px solid var(--color-stroke);
}

.button_ghost:hover {
	background: var(--color-bg-light);
}

@media (max-width: 640px) {
	.button {
		padding: 12px 32px;
	}
}

/* Social */
.social-icons {
	display: flex;
	align-items: center;
	gap: 24px;
}

.social-icons__icon {
	padding: 11px;
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-8);
	text-decoration: none;
	width: 48px;
	height: 48px;
}

.social-icons__icon:hover {
	background-color: var(--color-bg-medium);
}

/* Headling */
.headling {
	margin-bottom: 32px;
}

.headling__top {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: var(--color-secondary);
	margin-bottom: 8px;
}

.headling__bottom {
	font-weight: 400;
	font-size: 46px;
	line-height: 1.2;
	color: var(--color-text);
	margin: 0 0 32px 0;
}

@media (max-width: 860px) {
	.headling__bottom {
		font-size: 34px;
	}
}

/* Paragraph */
.paragraph {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	color: var(--color-text);
	max-width: 787px;
}

.paragraph_32 {
	margin-bottom: 32px;
}

/* Card */
.card {
	border-radius: var(--border-10);
	background-color: var(--color-bg-medium);
}

.card_32 {
	padding: 32px;
}

/* post-wrapper */
.post-wrapper {
	display: flex;
	flex-direction: column;
	gap: 36px;
	margin: 48px 0;
}

/* post */
.post {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}

.post__button a {
	display: block;
}

.post__stats {
	display: flex;
	gap: 32px;
}

.post__stat {
	display: flex;
	align-items: center;
	gap: 6px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	color: var(--color-link-hover);
}

.post__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post__header {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	color: var(--color-text);
	margin: 0;
}

.post__description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-text);
}

@media (max-width: 860px) {
	.post {
		flex-direction: column;
	}

	.post__header {
		font-size: 21px;
	}
}

/* chip */
.chip {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: var(--color-text);
	border: 1px solid var(--color-stroke);
	padding: 8px 16px;
	border-radius: var(--border-10);
	background: none;
	cursor: pointer;
	white-space: nowrap;
}

.chip:hover {
	background-color: var(--color-bg-medium);
}

.chip_active {
	background-color: var(--color-primary);
	border: none;
}

.chip_active:hover {
	background-color: var(--color-primary-hover);
}

/* Course card */
.course-card {
	background-color: var(--color-bg-medium);
	border-radius: var(--border-10);
	color: var(--color-text);
}

.course-card__tags {
	display: flex;
	gap: 12px;
}

.course-card__cover img {
	width: 100%;
	border-radius: var(--border-10) var(--border-10) 0 0;
}

.course-card__body {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.course-card__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	color: var(--color-text);
	margin-bottom: 4px;
}

.course-card__author {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: var(--color-link-hover);
}

.course-card__footer {
	background-color: var(--color-bg-light);
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.2;
	color: var(--color-text);
	border-radius: 0 0 var(--border-10) var(--border-10);
	padding: 24px;
}

/* Tag */
.tag {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	color: var(--color-text);
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-17);
	padding: 6px 12px;
}
